@import url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap');
.headerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../../../images/headerBanner.jpeg);
    height: 25rem;
    background-size: cover;
    background-position: center;
}
.headerDiv p{
    font-family: 'Ravi Prakash', cursive;
}